<body>
    <div class="container">
        <div id="signers">
            {{#each results}}
            <div class="row">
                {{this.first}}{{this.last}}
                {{#if this.age}}({{this.age}}{{/if}}
                {{!-- {{#if this.city}}<a href="/signers/{{this.city}}">{{this.city}}</a>{{/if}} --}}
            </div>
            {{/each}}
        </div>
    </div>